# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDEs
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter/Dart/Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/
frontend/pubspec.lock

# Flutter-generated plugin registrants
**/generated_plugin_registrant.*

# Symbolication/obfuscation
app.*.symbols
app.*.map.json

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# iOS build artifacts
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# macOS build artifacts
macos/Flutter/Flutter.framework
macos/Flutter/GeneratedPluginRegistrant.*

# Linux build artifacts
linux/flutter/generated_plugin_registrant.*
linux/runner/

# Windows build artifacts
windows/flutter/generated_plugin_registrant.*
windows/runner/
